*~
.idea
/.DS_Store
/classes
/target/*
pom.xml
pom.asc.xml
.repl
*.swp
*.zip
clojurescript_release_*
closure-release-*
.lein-repl-history
.nrepl-port
.nrepl-repl-history
/examples/js
Leiningen.gitignore
